<div class="title">
  Add cocktail
</div>
<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="cocktailName">Name</label>
    <input
      type="text"
      formControlName="cocktailName"
      id="cocktailName"
    />
    <small *ngIf="fieldHasError('cocktailName', 'required')">
      Enter a cocktail name
    </small>
  </div>

  <div class="form-group">
    <label for="cocktailImg">Img</label>
    <input
      type="text"
      formControlName="cocktailImg"
      id="cocktailImg"
    />
    <small *ngIf="fieldHasError('cocktailImg', 'required')">
      Enter a cocktail name
    </small>
  </div>

  <div class="form-group">
    <label>Type</label>
    <div class="radio">
      <input
        type="radio"
        formControlName="cocktailType"
        value="alcohol"
      />
      <span>Alcohol</span>
    </div>
    <div class="radio">
      <input
        type="radio"
        formControlName="cocktailType"
        value="mocktail"
      />
      <span>Mocktail</span>
    </div>
    <small *ngIf="fieldHasError('cocktailType', 'required')">
      Enter a cocktail type
    </small>
  </div>

  <div class="form-group">
    <label for="cocktailDescription">Description</label>
    <textarea
      formControlName="cocktailDescription"
      id="cocktailDescription"
    ></textarea>
    <small *ngIf="fieldHasError('cocktailDescription', 'required')">
      Enter a cocktail description
    </small>
  </div>

  <div formArrayName="ingredients">
    <div class="steps-header">
      <label>Ingredients</label>
      <button type="button" (click)="addIngredient()">Add ingredient</button>
    </div>

    <div *ngFor="let ingredientControl of getIngredientsControls(); let i = index">
      <div class="form-group-inline" [formGroupName]="i">
        <div class="form-group">
          <label for="ingredientName">Ing name</label>
          <input
            type="text"
            formControlName="ingredientName"
            id="ingredientName"
          />
        </div>
        <div class="form-group">
          <label for="ingredientAmount">Amount</label>
          <input
            type="number"
            formControlName="ingredientAmount"
            id="ingredientAmount"
          />
        </div>
        <div class="form-group">
          <label for="ingredientMeasure">Measure</label>
          <select formControlName="ingredientMeasure" id="ingredientMeasure">
            <option value="">Select Measure</option>
            <option value="ml">ml</option>
            <option value="spoon">spoon</option>
          </select>
          <small *ngIf="fieldHasError('ingredientMeasure', 'required')">
            required
          </small>
        </div>
        <div class="form-group">
          <button type="button">Remove Ingredient</button>
        </div>
      </div>
      <small *ngIf="fieldHasError('ingredientName', 'required')">
        ingredient name required
      </small>
      <small *ngIf="fieldHasError('ingredientDescription', 'required')">
        ingredient description required
      </small>
    </div>
  </div>

  <div class="form-group">
    <label for="cocktailInstructions">Instructions</label>
    <textarea
      formControlName="cocktailInstructions"
      id="cocktailInstructions"
    ></textarea>
    <small *ngIf="fieldHasError('cocktailInstructions', 'required')">
      Enter a dish description
    </small>
  </div>

  <button type="submit" [disabled]="!getFormValid()">
    Save
  </button>
</form>



