<div class="modal show" [ngStyle]="{display: isOpen ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
<div
  class="modal-backdrop show"
  [ngStyle]="{display: isOpen ? 'block' : 'none'}"
></div>
