<div class="cocktails-list" *ngIf="!isFetching; else loading">
  <div class="cocktail-list-item" *ngFor="let cocktail of cocktails">
    <div class="cocktail-img">
      <img [src]="cocktail.img" alt="{{ cocktail.name }}"/>
    </div>
    <div class="cocktail-list-item-info">
      <div class="cocktail-name">
        <b>Name:</b><br>
        {{ cocktail.name }}
      </div>
      <div class="cocktail-desc">
        <b>Type:</b> <br>
        {{ cocktail.type }}
      </div>
    </div>
    <div class="cocktail-list-item-actions">
      <button type="button" (click)="openCocktailModal()">View Details</button>
    </div>
  </div>
</div>
<app-modal [isOpen]="modalOpen">
  <div class="modal-body">
    wevwevwevwev ewe
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-danger"
      (click)="closeCocktailModal()"
    >Close</button>
  </div>
</app-modal>

<ng-template #loading>
  <div class="loading">Loading...</div>
</ng-template>
